{% extends 'course/base.html' %}
{% load static %}

{% block title %}
{{ course }}
{% endblock %}

{% block content %}
    <h1>{{ course }}: {{ course.title }}</h1>
    {% if not enrolled %}
        You are not enrolled in this course
    {% else %}
        {% if course.description != '' %}
        <h2>Course Description</h2>
        <p>{{ course.description }}</p>
        {% endif %}
        <a href="participants/">Participants</a><br>
        {% if isinstructor %}
            <a href="new/document/">New Document</a><br>
            <a href="new/link/">New Link</a><br>
            <a href="new/text/">New Text Block</a>
        {% endif %}
        {% for sec in course.coursesection_set.all %}
            {% if sec.access == 3 or isinstructor %}
                <h2>{{ sec.title }}</h2>
                {% for item in sec.item_set.all %}
                    {% if item.access == 1 and item.author != user %}
                    {% elif item.access == 2 and isstudent %}
                    {% else %}
                        {% if item.related_object_type == 'text' %}
                            {{ item.text.content }}
                        {% else %}
                            <a href="{{ item.url }}"><img src="{{ item.icon }}" width="20" height="20">{{ item.display_text }}</a>
                        {% endif %}
                        {% if isinstructor %}
                            <a href="update/{{ item.related_object_type }}/{{ item.related_object.id }}"><img src="{% static 'course/update-icon.webp' %}" width="15" height="15"></a>
                            <a href="delete/{{ item.id }}"><img src="{% static 'course/delete-icon.png' %}" width="15" height="15"></a>
                        {% endif %}
                        <br>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
