{% extends 'course/base.html' %}

{% block title %}
Participants | {{ course }}
{% endblock %}

{% block content %}
    <h1>{{ course }}: {{ course.title }}</h1>
    {% if not enrolled %}
        You are not enrolled in this course
    {% else %}
        <h2>Participants</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Role</th>
            </tr>
            <tr>
                <td><a href="{% url 'profile' k=course.coordinator.kerberos %}">{{ course.coordinator.name }}</a></td>
                <td>Coordinator, Teacher</td>
            </tr>
            {% for u in course.teachers.all %}
                {% if u != course.coordinator %}
                <tr>
                    <td><a href="{% url 'profile' u.kerberos %}">{{ u.name }}</a></td>
                    <td>Teacher</td>
                </tr>
                {% endif %}
            {% endfor %}
            {% for u in course.students.all %}
                <tr>
                    <td><a href="{% url 'profile' u.kerberos %}">{{ u.name }}</a></td>
                    <td>Student</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
