{% extends 'course/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Delete Section | {{ course }}
{% endblock %}

{% block content %}
    <h1>{{ course }}: {{ course.title }}</h1>
    {% if not enrolled %}
        You are not enrolled in this course
    {% else %}
        {% if isstudent %}
            You are not authorized to access this page. Contact the admin if you think this is a mistake.
        {% else %}
            <h3>Are you sure you want to delete section "{{ sec.title }}"?</h3>
            <div>The section and all its items will be permanently deleted and cannot be restored once deleted</div>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-secondary" onclick="javascript:window.history.back(-1);return false;">Cancel</button>
                <button class="btn btn-secondary" type="submit">Delete</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}