{% extends 'course/base.html' %}

{% block title %}
Grades | {{ course }}
{% endblock %}

{% block content %}
    <h1>{{ course }}: {{ course.title }}</h1>
    {% if not enrolled %}
        You are not enrolled in this course
    {% else %}
        <a href="{% url 'course-home' id=course.id %}">Back to Course home</a>
        <h2>Grades</h2>
        <p><b>Course Total: </b>{{ course.course_grade_total }}</p>
        <p><b>Course Average: </b>{{ course.grade_avg }}</p>
        <p><b>Course Standard Deviation: </b>{{ course.grade_stdev }}</p>
        <table class="table">
            <tr>
                <th>Student</th>
                <th>Grade</th>
                <th>View Details</th>
            </tr>
            {% for stu,g in g_list %}
            <tr>
                <td><a href="{% url 'profile' k=stu.kerberos %}">{{ stu.name }}</a></td>
                <td>{{ g }}</td>
                <td><a href="{% url 'student-grades' id=course.id k=stu.kerberos %}">View</a></td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
