{% extends 'course/base.html' %}

{% block title %}
Submit {{ sec.title }} | {{ course }}
{% endblock %}

{% block content %}
    <h1>{{ course }}: {{ course.title }}</h1>
    {% if not enrolled %}
        You are not enrolled in this course
    {% else %}
        {% if isinstructor %}
            This submission portal is intended only for students.
        {% elif sub_allowed %}
            <h2>Submit {{ sec.title }}</h2>
            <div>Upload your submission in a single file and click on 'Submit'</div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button onclick="javascript:window.history.back(-1);return false;">Cancel</button>
                <button type="submit">Submit</button>
            </form>
        {% else %}
            <h3>Submission time is over.</h3>
        {% endif %}
    {% endif %}
{% endblock %}