{% extends 'course/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
Grade | {{ sec.title }} | {{ course }}
{% endblock %}

{% block content %}
    <h1>{{ course }}: {{ course.title }}</h1>
    {% if not enrolled %}
        You are not enrolled in this course
    {% else %}
        {% if isstudent %}
        You are not authorized to access this page. Contact the admin if you think this is a mistake.
        {% elif isinstructor %}
            <h2>{{ sec.title }}</h2>
            <h3>Mark Grade for {{ submission.submitter.name }}</h3>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset>
                    <p>Maximum possible grade: {{ assignment.max_grade }}</p>
                    {{ form|crispy }}
                </fieldset>
                <button class="btn btn-secondary" onclick="javascript:window.history.back(-1);return false;">Cancel</button>
                <button class="btn btn-secondary" type="submit">Save</button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}
